.header__button-next {
  width: 102px;
  height: 66px;
  background-image: url(../../../images/BTN_scroll_normal.png);
  background-color: rgba(255, 255, 255, 0);
  background-size: contain;
  background-position: center;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

.header__button-next:hover {
  background-image: url(../../../images/BTN_scroll_hover.png);
  cursor: pointer;
}

.header__button-next:active {
  background-image: url(../../../images/BTN_scroll_active.png);
}
