.chars__button_pamela {
  background-image: url(../../../../images/chars/chars_icon_Pamela_inactive.png);
}

.chars__button_pamela:hover {
  background-image: url(../../../../images/chars/chars_icon_Pamela_hover.png);
  cursor: pointer;
}
