.chars__button_lleyn {
  background-image: url(../../../../images/chars/chars_icon_Lleyn_inactive.png);
}

.chars__button_lleyn:hover {
  background-image: url(../../../../images/chars/chars_icon_Lleyn_hover.png);
  cursor: pointer;
}
