.chars__button_isolda {
  background-image: url(../../../../images/chars/chars_icon_Isolda_inactive.png);
}

.chars__button_isolda:hover {
  background-image: url(../../../../images/chars/chars_icon_Isolda_hover.png);
  cursor: pointer;
}
