.app {
  min-height: 100vh;
  color: #fff;
  font-family: Lora, LeksaPro, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
}
