.footer__link_mail {
  background-image: url(../../../../images/footer/footer_btn_mail_normal.png);
}

.footer__link_mail:hover {
  background-image: url(../../../../images/footer/footer_btn_mail_hover.png);
}

.footer__link_mail:active {
  background-image: url(../../../../images/footer/footer_btn_mail_active.png);
}